- name: Send to Telegram
  env:
    BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
  run: |
    DEBUG=$(ls downloads/*debug*.zip)
    RELEASE=$(ls downloads/*release*.zip)

    DEBUG_NAME=$(basename "$DEBUG")
    RELEASE_NAME=$(basename "$RELEASE")

    CAPTION="$DEBUG_NAME
$RELEASE_NAME

release date: $RUN_DATE
bot release date: $BOT_DATE

by @Myst_25"

    # Send debug with caption
    curl -sS "https://api.telegram.org/bot$BOT_TOKEN/sendDocument" \
      -F chat_id="-1002868007272" \
      -F message_thread_id="384" \
      -F document=@"$DEBUG" \
      -F caption="$CAPTION"

    # Send release without caption
    curl -sS "https://api.telegram.org/bot$BOT_TOKEN/sendDocument" \
      -F chat_id="-1002868007272" \
      -F message_thread_id="384" \
      -F document=@"$RELEASE"
