- name: Send to Telegram
  env:
    BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
  run: |
    DEBUG=$(ls downloads/*debug*.zip)
    RELEASE=$(ls downloads/*release*.zip)

    DEBUG_NAME=$(basename "$DEBUG")
    RELEASE_NAME=$(basename "$RELEASE")

    TEXT=$(printf "%s\n%s\n\nrelease date: %s\nbot release date: %s\n\nby @Myst_25" \
      "$DEBUG_NAME" \
      "$RELEASE_NAME" \
      "$RUN_DATE" \
      "$BOT_DATE")

    MEDIA=$(jq -n \
      --arg t "$TEXT" \
      '[{"type":"document","media":"attach://file1","caption":$t},
        {"type":"document","media":"attach://file2"}]')

    curl -sS -X POST "https://api.telegram.org/bot$BOT_TOKEN/sendMediaGroup" \
      -F chat_id="-1002868007272" \
      -F message_thread_id="384" \
      -F media="$MEDIA" \
      -F file1=@"$DEBUG" \
      -F file2=@"$RELEASE"
